<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NEWS</key>
	<string>${NEWS}</string>
	<key>HTTPS</key>
	<string>${HTTPS}</string>
	<key>SLASH</key>
	<string>${SLASH}</string>
	<key>KEY</key>
	<string>${KEY}</string>
</dict>
</plist>
